a {
    text-decoration: none;
}

.center {
    align-self: center;
}
.left {
    align-self: left;
}
.right {
    align-self: right;
}
/*Navigation Bars*/
.sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidebar has too much content */
}
.topbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
.nav-item {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
.btn {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.r-f {
    border-radius: 50%;
}
.r-h {
    border-radius: 25%;
}
.r-q {
    border-radius: 12.5%;
}

.aliceblue {
    color: aliceblue;
}
.antiquewhite {
    color: antiquewhite;
}
.aqua {
    color: aqua;
}
.aquamarine {
    color: aquamarine;
}
.azure {
    color: azure;
}
.beige {
    color: beige;
}
.bisque {
    color: bisque;
}
.black {
    color: black;
}
.blanchedalmond {
    color: blanchedalmond;
}
.blue {
    color: blue;
}
.blueviolet {
    color: blueviolet;
}
.brown {
    color: brown;
}
.burlywood {
    color: burlywood;
}
.cadetblue {
    color: cadetblue;
}
.chartreuse {
    color: chartreuse;
}
.chocolate {
    color: chocolate;
}
.coral {
    color: coral;
}
.cornflowerblue {
    color: cornflowerblue;
}
.cornsilk {
    color:cornsilk;
}
.crimson {
    color:crimson;
}
.cyan {
    color: cyan;
}
.darkblue {
    color: darkblue;
}
.darkcyan {
    color: darkcyan;
}
.darkgoldenrod {
    color: darkgoldenrod;
}
.darkgrey {
    color: darkgrey;
}
.darkgreen {
    color: darkgreen;
}
.darkkhaki {
    color: darkkhaki;
}
.darkmagenta {
    color: darkmagenta;
}
.darkolivegreen {
    color: darkolivegreen;
}
.darkorange {
    color: darkorange;
}
.darkorchid {
    color: darkorchid;
}
.darkred {
    color: darkred;
}
.darksalmon {
    color: darksalmon;
}
.darkseagreen {
    color: darkseagreen;
}
.darkslateblue {
    color: darkslateblue;
}
.darkslategray {
    color: darkslategray;
}
.darktorquoise {
    color: darkturquoise;
}
.darkviolet {
    color: darkviolet;
}
.gray {
    color: gray;
}
.green {
    color: green;
}
.orange {
    color: orange;
}
.purple {
    color: purple;
}
.red {
    color: red;
}